<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Clanvel{% endblock %}</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <header class="absolute top-0 left-0 w-full py-4">
      <div class="flex items-center justify-between px-8">
          <span class="text-2xl tracking-tighter font-semibold">
              Clanvel
          </span>
          <div class="">
              <div class="flex items-center">
                  <a class="text-lg leading-normal text-blue-500 hover:text-blue-600 no-underline ml-8" href="{% url 'home' %}">Home</a>
                  {% if user.is_authenticated %}
                    <a class="text-lg leading-normal text-blue-500 hover:text-blue-600 no-underline ml-8" href="/logout">Logout</a>
                    <a class="text-lg leading-normal text-blue-500 hover:text-blue-600 no-underline ml-8" href="/profile">Your account {{user.first_name}}!</a>
                  {% else %}
                  <a class="text-lg leading-normal text-blue-500 hover:text-blue-600 no-underline ml-8" href="/login">Login</a>
                  <a class="text-lg leading-normal text-blue-500 hover:text-blue-600 no-underline ml-8" href="/register">Register</a> 
                  {% endif %}
              </div>
          </div>
      </div>
    </header>
  </head>
  <body>
      
 </body>
</html>